genera_html/src/modelo.haml
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= Seco3.instance.full_title
    %link{:href => "css/seco3.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #header
    #cintillo
      #tiposseco
        %a{:href => "http://seminario.edusol.info/seco3/", :title => "Seminario Construcci\303\263n Colaborativa del Conocimiento \342\200\224 EDUSOL"}
          %img{:alt => "Texto: Seminario Construcci\303\263n Colaborativa del Conocimiento", :border => "0", :src => "imagenes/tiposeco3.png"}/
      #text-cuerpos
      #logoseco
    #caminito
    #menu
      %ul
        %li
          %a{:href => "index.html"} Inicio
        %li
          %a{:href => "autores.html"} Autores
        %li
          %a{:href => "portada.html"} La portada
      %hr
      %ul
        %li
          %a{:href => "presentacion.html"} Presentación
        %li
          %a{:href => "parte1.html"} Software y medios libres
        %li
          %a{:href => "parte2.html"} Comunidades
        %li
          %a{:href => "parte3.html"} Sociedad
        %li
          %a{:href => "apendices.html"} Apéndices
      %hr
      %ul
        %li
          %a{:href => "compra.html"} ¿Cómo comprar el libro?
        %li
          %a{:href => "actividades.html"} Actividades y reseñas
        %li
          %a{:href => "legal.html"} Información legal
    #contenido
      #main
        %p.titulo= Seco3.instance.title
        = Seco3.instance.body
      #abajo
        %img#logos{:alt => "logos", :border => "0", :height => "61", :src => "imagenes/logos.jpg", :usemap => "#Map", :width => "380"}/
        %map#Map{:name => "Map"}
          %area{:alt => "UNAM", :coords => "104,11,144,50", :href => "http://www.unam.mx/", :shape => "rect"}/
          %area{:alt => "IIEc", :coords => "154,10,193,49", :href => "http://www.iiec.unam.mx/", :shape => "rect"}/
          %area{:alt => "EDUSOL", :coords => "306,9,352,53", :href => "http://edusol.info/", :shape => "rect"}/
          %area{:alt => "Psicoeducativa", :coords => "262,6,300,51", :href => "http://psicoeducativa.iztacala.unam.mx/", :shape => "rect"}/
          %area{:coords => "206,10,254,52", :href => "http://seminario.edusol.info/", :shape => "rect"}/
        #creative
          Los textos que componen esta obra se publican bajo formas de licenciamiento que permiten la copia, redistribución y la realización de obras derivadas siempre y cuando éstas se distribuyan bajo las mismas licencias libres y se cite la fuente.
          %br/
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
            %tr
              %td
                %img{:alt => "licencia", :height => "31", :src => "imagenes/licencia.png", :width => "88"}/
              %td &nbsp; Licencia Creative Commons Reconocimiento - Compartir bajo la misma licencia (CC-BY-SA) 3.0 Unported.

genera_html/modelo.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Seminario «Construcción Colaborativa del Conocimiento»</title>
    <link href='css/seco3.css' rel='stylesheet' type='text/css' />
  </head>
  <body>

    <div id='header'>
    </div>

    <div id='cintillo'>
      <div id='tiposseco'>
        <a href='http://seminario.edusol.info/seco3/' title='Seminario Construcción Colaborativa del Conocimiento — EDUSOL'>
          <img alt='Texto: Seminario Construcción Colaborativa del Conocimiento' border='0' src='imagenes/tiposeco3.png' />
        </a>
      </div>
      <div id='text-cuerpos'></div>
      <div id='logoseco'></div>
    </div>

    <div id='caminito'></div>

    <div id='contenido'>
      <div id='menu1'>
        <a href='index.html'>Presentación</a> |
        <a href='parte1.html'>Software y medios libres</a> |
        <a href='parte2.html'>Comunidades</a> |
        <a href='parte3.html'>Sociedad</a> |
        <a href='apendices.html'>Apéndices</a>
      </div>

      <div id='main'></div>

      <div id='abajo'>
        <img alt='logos' border='0' height='61' id='logos' src='imagenes/logos.jpg' usemap='#Map' width='380' />
        <map id='Map' name='Map'>
          <area alt='UNAM' coords='104,11,144,50' href='http://www.unam.mx/' shape='rect' />
          <area alt='IIEc' coords='154,10,193,49' href='http://www.iiec.unam.mx/' shape='rect' />
          <area alt='EDUSOL' coords='306,9,352,53' href='http://edusol.info/' shape='rect' />
          <area alt='Psicoeducativa' coords='262,6,300,51' href='http://psicoeducativa.iztacala.unam.mx/' shape='rect' />
          <area coords='206,10,254,52' href='http://seminario.edusol.info/' shape='rect' />
        </map>
        <div id='creative'>
          Los textos que componen esta obra se publican bajo formas de licenciamiento que permiten la copia, redistribución y la realización de obras derivadas s
          <br />
          <table border='0' cellpadding='0' cellspacing='0'>
            <tr>
              <td>
                <img alt='licencia' height='31' src='imagenes/licencia.png' width='88' />
              </td>
              <td>&nbsp; Licencia Creative Commons Reconocimiento - Compartir bajo la misma licencia (CC-BY-SA) 3.0 Unported.</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
